.home-container{
    height: 380px;
    min-height: 350px;
    border-radius: 3px;
    box-shadow: 10px 10px 30px grey;
}

.main-text{
    margin-top: 50px;
    text-align: center;
    color: #9cc0e5;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 50px;
}
.sub-header-text{
    margin-top: 40px;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}
.home-img{
    min-height: 200px;
    height: 200px;
    border: none;
}
.home-text{
    margin-top: 15px;
    padding: 15px;
    font-size: 14px;
}
.home-btn{
    margin-top: 50px;
    font-weight: 600;
}